@model WebApp.Models.ViewList




<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SemesterOppgave</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>

<body>


    <!-- Content -->
    <div class="container">

        <!-- Navbar -->
        <div class="navbar">
            <div class="logo">
                <h1 class="center">Rent rooms.com</h1>
            </div>
            <div class="sign">
                <input type="button" class="btn" id="sign-in-modal-button" value="Sign in" />
                <input type="button" class="btn" id="sign-up-modal-button" value="Sign up" />
                <input type="button" class="btn" id="logout-button" value="Log out" style="display: none"/>
            </div>

        </div>

        <!-- Left side -->
        <div class="filter">

            <!-- Room quality -->
            <label for="roomQuality">Room quality:&nbsp&nbsp&nbsp&nbsp</label>
            <select class="ui dropdown" id="roomQuality">
                <option value="0">Any</option>
                @foreach (var roomquality in Model.RoomQuality) {

                    <option value="@roomquality.Id">@roomquality.Quality</option>
                }
            </select>


            <br/>

            <!-- Room size -->
            <label for="roomSize">Room size:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <select class="ui dropdown" id="roomSize">
                <option value="0">Any</option>
                @foreach (var size in Model.RoomSize) {

                    <option value="@size.Id">@size.Size</option>
                }
            </select>

            <br/>

            <!-- Room size -->
            <label for="roomBeds">Number of beds:</label>
            <select class="ui dropdown" id="roomBeds">
                <option value="0">Any</option>
                @foreach (var beds in Model.RoomBeds) {

                    <option value="@beds.Id">@beds.Beds</option>
                }

            </select>

            <br/>

            <label for="start">Start date</label>
            <input type="datetime" id="startTextField" class="txtfield" placeholder="yyyy-mm-dd"/>


            <label for="end">End date</label>
            <input type="datetime" id="endTextField" class="txtfield" placeholder="yyyy-mm-dd"/>


            <input type="button" value="Search" class="btn" id="search-button" style="width: 100%"/>
            <input type="button" value="Make reservation" id="reservation-button" class="btn" style="width: 100%"/>
        </div>


        <!-- Right side -->
        <div class="result">
            <h1 class="center">Available rooms</h1>
            <table class="center" id="resultTable">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Room size</th>
                        <th>Number of beds</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>

            </table>
        </div>


    </div>

    <!-- Sign in modal -->
    <div class="modal" id="sign-in-modal">

        <h1 class="center">Sign in</h1>

        <label for="email">Email</label>
        <input type="email" id="email" class="txtfield" />

        <label for="password">Password</label>
        <input type="password" id="password" class="txtfield" />


        <div class="center">
            <input type="button" value="Sign in" id="sign-in-button" class="btn" />
            <input type="button" value="Sign up" id="sign-in-to-sign-up" class="btn" />
        </div>
    </div>

    <!-- Sign up modal -->
    <div class="modal" id="sign-up-modal">
        <h1 class="center">Sign up</h1>

        <label for="signUpFirstname">Firstname</label>
        <input type="text" id="signUpFirstname" class="txtfield" />

        <label for="signUpLastname">Lastname</label>
        <input type="text" id="signUpLastname" class="txtfield" />

        <label for="signUpEmail">Email</label>
        <input type="email" id="signUpEmail" class="txtfield" />

        <label for="signUpPassword">Password</label>
        <input type="password" id="signUpPassword" class="txtfield" />
        <div class="center">
            <input type="button" value="Sign up" id="sign-up-button" class="btn" />
            <input type="button" value="Sign in" id="sign-up-to-sign-in" class="btn" />
        </div>
    </div>


    <!-- Reservation modal -->
    <div class="modal" id="reservation-modal">

        <h1 class="center">Reservation</h1>

        <label for="reservationFirstname">Firstname</label>
        <input type="text" id="reservationFirstname" class="txtfield" readonly/>

        <label for="reservationLastname">Lastname</label>
        <input type="text" id="reservationLastname" class="txtfield" readonly/>

        <label for="reservationEmail">Email</label>
        <input type="email" id="reservationEmail" class="txtfield" readonly/>

        <label for="resrvationStart">Start</label>
        <input type="text" id="reservationStart" class="txtfield" readonly/>

        <label for="reservationEnd">End</label>
        <input type="text" id="reservationEnd" class="txtfield" readonly/>

        <label for="reservationQuality">Quality</label>
        <input type="text" id="reservationQuality" class="txtfield" readonly/>

        <label for="reservationBeds">Number of beds</label>
        <input type="text" id="reservationBeds" class="txtfield" readonly/>

        <label for="reservationSize">Size</label>
        <input type="text" id="reservationSize" class="txtfield" readonly/>

        <label for="reservationPrice">Price</label>
        <input type="text" id="reservationPrice" class="txtfield" readonly/>

        <input type="button" class="btn" id="email-button" value="Email conformation" />
    </div>
</body>
</html>
