@{
    ViewBag.Title = "Reserve rooms";
}

@model WebApplication.Models.ViewList



<div class="row">
    <div class="col-sm-5 col-md-4 col-lg-3 sidebar">

        <h2>Filter</h2>

        <!-- Room quality -->
        <label for="roomQuality">Room quality</label>
        <select class="form-control" id="roomQuality">
            <option value="0">Any</option>
            @foreach (var room in Model.RoomQuality) {

                <option value="@room.Id">@room.Quality</option>
            }
        </select>

        <!-- Room size -->
        <label for="roomSize">Room size</label>
        <select class="form-control" id="roomSize">
            <option value="0">Any</option>
            @foreach (var room in Model.RoomSize) {

                <option value="@room.Id">@room.Size</option>
            }
        </select>

        <!-- Room Beds -->
        <label for="roomBeds">Number of beds</label>
        <select class="form-control" id="roomBeds">
            <option value="0">Any</option>
            @foreach (var roomquality in Model.RoomBeds) {

                <option value="@roomquality.Id">@roomquality.Beds</option>
            }
        </select>

        <!-- Data start -->
        <div class="input-group">
            <label for="start">Start date</label>
            <input type="text" id="start" class="form-control" placeholder="yyyy-mm-dd.">
        </div>

        <!-- Date end -->
        <div class="input-group">
            <label for="end">End date</label>
            <input type="text" id="end" class="form-control" placeholder="yyyy-mm-dd">
        </div>

        <!-- Search -->
        <button type="button" id="search" class="btn btn-lg btn-block">Search</button>
        <button type="button" id="makeReservation" class="btn btn-lg btn-block">Make reservation</button>
    </div>

    <div class="col-sm-7 col-md-8 col-lg-9 text-center">

        <h1 class="center">Available rooms</h1>
        <table class="table" id="roomTable">
            <thead>
                <tr>
                    <th>Room quality</th>
                    <th>Room size</th>
                    <th>Number of beds</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        </div>

    </div>



       


        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <h1 class="center">Reservation</h1>
                    </div>
                    <div class="modal-body">

                        <label for="reservationFirstname">Firstname</label>
                        <input type="text" id="reservationFirstname" class="form-control" readonly />

                        <label for="reservationLastname">Lastname</label>
                        <input type="text" id="reservationLastname" class="form-control" readonly />

                        <label for="reservationEmail">Email</label>
                        <input type="email" id="reservationEmail" class="form-control" readonly />

                        <label for="reservationStart">Start</label>
                        <input type="text" id="reservationStart" class="form-control" readonly />

                        <label for="reservationEnd">End</label>
                        <input type="text" id="reservationEnd" class="form-control" readonly />

                        <label for="reservationQuality">Quality</label>
                        <input type="text" id="reservationQuality" class="form-control" readonly />

                        <label for="reservationBeds">Number of beds</label>
                        <input type="text" id="reservationBeds" class="form-control" readonly />

                        <label for="reservationSize">Size</label>
                        <input type="text" id="reservationSize" class="form-control" readonly />

                        <label for="reservationPrice">Price</label>
                        <input type="text" id="reservationPrice" class="form-control" readonly />

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-lg btn-block" data-dismiss="modal" id="email-button" value="Email conformation" />
                    </div>
                </div>
            </div>
        </div>

